body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
}


/* SIGN UP PAGE ------------------------------- */
/* Sign Up Button */
#signUpButton {
	width: 30%;
	margin-top: 25%;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:160%;
	opacity: 5;
	border: 4px solid #7FFFD4;
	opacity: 0.9;

}

#signLogo {
	margin-left:-9%;
	margin-bottom: -10%;
	margin-top: -2%;
	width: 70%;
}

#signUpForm {
	height: 80%;
	width: 50%;
	margin-top:10%;
	background-color:white;
	opacity: 0;
	font-family: 'Raleway', sans-serif;
	border: 4px solid #7FFFD4;


}

/* HEADER ----------------------------- */

.header {
    float: left;
    margin:0 0 30px 0;
    padding: 5px 0 0 0 ;
    width: 100%;
  	background-image: url("http://static.tumblr.com/7b37633d29d9aaca9828b5132273cdf1/sy59fz4/1linmyvvt/tumblr_static_4y2skv97m24ogs84wc40sccso.jpg");
  	background-repeat:no-repeat;
  	background-size:cover;
  	margin-top: -22%;
  	border-bottom: 10px solid #7FFFD4;
  
}

#logo {
	display:block;
	margin:auto;
	margin-top:23%;
}

/* HOME PAGE ----------------------------- */

#eventsHead {
	margin-left: 3%;
}

#calendar {
	margin-left: 5.5%;
}

#eventFormHead {
	background-image: url("http://www.texturemate.com/image/view/1784/_original");
	color:white;
}


/* FOOTER -------------------------------- */

#footer {
	background-color:black;
	color:white;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	margin-bottom:-1%;
	line-height:4;
	font-size:80%;
	border-top: solid thick #7FFFD4;
}





